
@{
    ViewData["Title"] = "faqs";
}

<main class="main">
        	<div class="page-header text-center" style="background-image: url('../assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">F.A.Q<span>Pages</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
           

            <div class="page-content">
                <div class="container">
                	<h2 class="title text-center mb-3">General</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-1">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-1">
					            <h2 class="card-title">
					                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
					                    How Can I Contact You?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
					            <div class="card-body">
									Go to Contact Us Page in below
									scroll down until you see the from 
									fill your data and click Submit
									We'll receive your request, and we'll contact you as soon as possible
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
					                   How do I Contact "" By Email?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
					            <div class="card-body">
                                    Should you like to email us, please contact the following: support.Molla@gmail.com

                                    You can expect a reply within 24 hours, except during busy sale periods, which may take slightly longer					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
					                   What Information DO I Need To Provide You?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
					            <div class="card-body">
                                    Be sure to INCLUDE AS MUCH INFORMATION AS POSSIBLEeg/, email address, pictures, etc. This will allow us to answer any questions you have as quickly as possible.					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    
					</div><!-- End .accordion -->

                	@*<h2 class="title text-center mb-3">Orders and Returns</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-2">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
					                    I Am Missing an Item From my Order 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
					            <div class="card-body">
                                    In the unlikely event you are missing an item from your order, please contact us immediately with the following information to ensure that we can get this resolved for you quickly & efficiently:
                                    <ul>
                                      <li>Your order ID</li>
                                      <li>The name of the item you did not receive</li>
                                    </ul>
                                    Once we've received the above info, our Customer Support team will get this sorted for you ASAP!					            </div><!-- End .card-body -->
					               
                                </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
                                        You've Sent Me The Wrong Item
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
					            <div class="card-body">
                                    In the unlikely event you have received the wrong item, please contact us immediately with the following information to ensure that we can get this resolved for you quickly & efficiently: 
                                    <ul>
                                      <li>Your order number</li>
                                      <li>The name of the item you did not receive</li>
                                      <li>The name of the item you received in it's place</li>
                                      <li>A clear photograph of the item you have received, including logo </li>
                                    </ul>Once we've received the above info, our Customer Support team will get this sorted for you ASAP! <br>
                                    <strong>ALL CLAIMS FOR ORDERS ARRIVING WITH AN INCORRECT ITEM MUST BE MADE WITHIN 7 DAYS OF THE DELIVERY DATE.</strong>					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!*@

					    

                	<h2 class="title text-center mb-3">Technical</h2><!-- End .title -->
                	<div class="accordion accordion-rounded" id="accordion-3">
					    <div class="card card-box card-sm bg-light">
					        @*<div class="card-header" id="heading3-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
                                        Getting an Error Message Trying To Log Into My Account?
					                </a>
					            </h2>	
					        </div><!-- End .card-header -->
					        <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
					            <div class="card-body">
                                    <strong>Please check the following:</strong> 
                                    <ul>
                                      <li>Check you’re using the same email address you used to sign up</li>
                                      <li>On the bottom right of the main website, there is a small flag where you select which store to shop on, ensure you’re on the correct store as your login is unique to your location</li>
                                        <li>Have you just forgotten your password? <a href="#">Follow this link to reset your password </a></li>
                                    </ul>
                                    If all else fails, get in touch with support and we’ll look into it a little further for you!					            </div><!-- End .card-body -->
					        *@</div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
                                        Can You Delete My Account?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
					            <div class="card-body">
									We’ll be sad to see you go, but please get in touch via our contact form by hitting one of the options below and a member of the team will advise of the next steps to take.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    

					    
					</div><!-- End .accordion -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

            <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(../assets/images/backgrounds/cta/bg-7.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9 col-xl-7">
                            <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                                <div class="col">
                                    <h3 class="cta-title text-white">If You Have More Questions</h3><!-- End .cta-title -->
                                    
                                </div><!-- End .col -->

                                <div class="col-auto">
                                    <a href="~/contact" class="btn btn-outline-white"><span>CONTACT US</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .col-auto -->
                            </div><!-- End .row no-gutters -->
                        </div><!-- End .col-md-10 col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
        </main><!-- End .main -->




