@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1 class="mt-2 text-center">Administration & Authorization</h1>

<table class="table table-border">
    <thead>
        <tr>
            <th>
             Navigate To
            </th>
            <th>Size</th>
            <th>Access</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        
        <!-- Rows of Brands -->
        <tr>
            <td>
                Brands
            </td>
           
            <td>
                @Model.brandsCount Brands Found
            </td>
             <td>
                Moderators - Admins - Owners
            </td>
            <td>
                <a href="~/admin/brands">View</a> 
            </td> </tr>
        <!--End Rows of Brands -->

          
        <!-- Rows of Questions -->
        <tr>
            <td>
                Questions
            </td>
           
            <td>
                @Model.questionsCount Requests Found
            </td> 
             <td>
                Moderators - Admins - Owners
            </td>
             <td>
                <a href="~/admin/questions">View</a>
            </td>
            </tr>
        <!--End Rows of Questions -->




    </tbody>
</table>



